* {
    background-color: #FFF;
}

.react-tabs {
    position: relative;
    /* background-color: blue !important; */
}

.react-tabs__tab-list {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: whitesmoke;
}

.react-tabs__tab-panel {
    position: relative;
    /* display: block !important; */
    height: 100%;
    /* background: purple; */
}

.react-tabs__tab-panel--selected {
    display: block;
    width: 100%;
    padding: 40px 40px;
}

.react-tabs__tab {
    /* margin: 4px 0; */
    display: block;
    padding: 40px 16px;
    background: inherit;
}

.react-tabs__tab--selected {
    display: none;
}

.todo-input-container {
    width: 18rem;
    margin: auto;
}

.todo-input {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    margin: 0 auto;
    background-color: #FFFFFF66;
    backdrop-filter: blur(4px);
    border: none;
    margin-top: 80px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 24px;
}

.todo-input input {
    outline: 0;
    border: 1px solid gray;
    border-radius: 8px 8px;
    width: 100%;
    height: 64px;
    padding: 0px 16px;
    font-size: inherit;
}

.todo-input button {
    border: 0;
    border-radius: 8px;
    width: auto;
    height: 64px;
    line-height: 64px;
    margin: 0 0 0 4px;
    padding: 0px 32px;
    background: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.todo-submit {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
}

.todo-wrapper {
    width: 50rem;
    margin: 4rem auto;
}

.todo {
    display: flex;
    flex-flow: row nowrap;
    margin: 2.4rem 0;
}

.todo input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 8px;
}

.todo input[type="text"] {
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 4px;
    margin: 0 16px;
    padding: 0 8px;
    transition: padding .4s ease-in;
}

.todo-title {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    font-style: bold;
    font-size: 1.2rem;
    padding: 3px 16px 0;
}

.todo button {
    border: 1px solid lightgray;
    border-radius: 8px;
    display: block;
    width: 48px;
    height: 32px;
    margin: 0 4px;
    cursor: pointer;
}

.todo button:last-child:hover {
    background: rgba(240, 0, 0, .1);
    color: white;
}

.checked {
    text-decoration: line-through;
    color: darkgray;
}