* {
    background-color: #FFF;
}

.react-tabs {
    position: relative;
    /* background-color: blue !important; */
}

.react-tabs__tab-list {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: whitesmoke;
}

.react-tabs__tab-panel {
    position: relative;
    /* display: block !important; */
    height: 100%;
    /* background: purple; */
}

.react-tabs__tab-panel--selected {
    display: block;
    width: 100%;
    padding: 40px 40px;
}

.react-tabs__tab {
    margin: 0 0;
    display: block;
    padding: 32px 24px;
    /* background: green; */
    width: 100%;
    background-color: inherit;
    transition:
        width .4s ease-in-out,
        border-radius 1.6s ease,
        background-color .2s ease,
        padding .4s ease;
}

.react-tabs__tab:hover {
    /* margin: 8px 0; */
    border-radius: 8px;
    width: 98%;
    margin: 0 auto;
    padding: 32px 28px;
    background-color: lightskyblue;
    transition:
        width .4s ease-in-out,
        border-radius .8s ease,
        background-color .2s ease,
        padding .4s ease;
}

.react-tabs__tab--selected {
    display: none;
}

.todo-input-container {
    width: 18rem;
    margin: auto;
}

/* .todo-input {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-flow: row nowrap;
    width: 75%;
    margin: 0 auto;
    background-color: #FFFFFF66;
    backdrop-filter: blur(4px);
    border: none;
    margin-top: 80px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 24px;
} */

.todo-input input {
    outline: 0;
    border: 1px solid gray;
    border-radius: 8px 8px;
    width: 100%;
    height: 64px;
    padding: 0px 16px;
    font-size: inherit;
}

/* .todo-input button {
    border: 0;
    border-radius: 8px;
    width: auto;
    height: 64px;
    line-height: 64px;
    margin: 0 0 0 4px;
    padding: 0px 32px;
    background: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
} */

.todo-submit {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
}

.todo-wrapper {
    width: 50rem;
    margin: 4rem auto;
}

.todo {
    display: flex;
    flex-flow: row nowrap;
    margin: 2.4rem 0;
}

.todo input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border-radius: 8px;
}

.todo input[type="text"] {
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 4px;
    margin: 0 16px;
    padding: 0 8px;
    transition: padding .4s ease-in;
}

.todo-title {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    font-style: bold;
    font-size: 1.2rem;
    padding: 3px 16px 0;
}

.todo button {
    border: 1px solid lightgray;
    border-radius: 8px;
    display: block;
    width: 48px;
    height: 32px;
    margin: 0 4px;
    cursor: pointer;
}

.todo button:last-child:hover {
    background: rgba(240, 0, 0, .1);
    color: white;
}

.checked {
    text-decoration: line-through;
    color: darkgray;
}


/* TODO FORM */
.todo-form-container {
    position: fixed;
    height: 100%;
    width: 32%;
    bottom: 0;
    right: 0%;
    background: lightslategray;
}

.todo-form-container::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFFBB;
    backdrop-filter: blur(8px);
}

.todo-form-container span {
    position: absolute;
    top: 24px;
    right: 32px;
    z-index: 10;
}

.todo-input {
    position: sticky;
    /* bottom: 0; */
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    background-color: #FFFFFF66;
    backdrop-filter: blur(4px);
    border: none;
    /* margin-top: 80px; */
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.5rem; */
    /* padding: 2rem; */
    padding: 5rem 4rem 0;
    font-size: 18px;
    line-height: 40px;
}

.todo-input textarea {
    position: relative;
    display: block;
    border-radius: 4px;
    height: 80%;
    background-color: white;
    padding: 16px 24px;
    margin: 8px 0;
    outline: 2px solid lightgray;
    resize: none;
}

.todo-input textarea:focus {
    outline: 2px solid darkslategrey;
    border: 2px solid lightgray;
    outline-offset: 2px;
    transition: outline .1s ease;
}

.todo-input button {
    margin: 16px 4px;
    border: 0;
    border-radius: 8px;
    width: auto;
    height: 64px;
    line-height: 64px;
    padding: 0px 32px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-button {
    position: sticky;
    display: block;
    top: 24px;
    right: 32px;
    height: 64px;
    width: 240px;
    padding: 16px 0;
}